h1{
    text-align: center;
}
body {
    background-color: lightblue;
    color: #333;
    text-align: center;
}
ul, ol {
    text-align: center;
    list-style-position: inside; /* To move the bullets inside the list items */
}